<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= inbound_event.event_type_s %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= inbound_event.created_at.to_formatted_s(:long) %></h6>
    <p class="card-text">
      <dl>
        <dt>Invitee:</dt>
        <dd><%= inbound_event.payload["invitee"]["name"] %> (<%= inbound_event.payload["invitee"]["email"] %>)</dd>

        <dt>Event:<dt>
        <dd>
          <%= inbound_event.payload["event"]["start_time_pretty"] %> - 
          <%= inbound_event.payload["event"]["end_time_pretty"] %>
        </dd>
      </dl>
    </p>
  </div>
</div>